
<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>demo information</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
   
    <div class="jumbotron text-center">
      <h1 contenteditable="true">my(enter your name)first web page</h1>
      <p>your tagline</p>
    </div>
    <div class="container">
        <div class="row">
        <div class="col-sm-3">
        <h2>column1(Add your content)</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam veritatis autem repellendus magni accusantium maiores repudiandae?<br> Laborum, sit atque! Mollitia libero repudiandae accusantium possimus nesciunt repellat rerum aliquid officia distinctio.</p>
        <img src="../assets/flower.jpg"width="100" radius="100">
    </div>
        <div class="col-sm-3">
        <h2>column2(Add your content)</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam veritatis autem repellendus magni accusantium maiores repudiandae? Laborum, sit atque! Mollitia libero repudiandae accusantium possimus nesciunt repellat rerum aliquid officia distinctio.</p>
        <img src="../assets/flower.jpg" class="img-circle" width="100" height="100">
        </div>
        <div class="col-sm-3">
        <h2>column3(Add your content)</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam veritatis autem repellendus magni accusantium maiores repudiandae? Laborum, sit atque! Mollitia libero repudiandae accusantium possimus nesciunt repellat rerum aliquid officia distinctio.</p>
        <img src="../assets/flower.jpg"width="100" height="100">
        </div>
        <div class="col-sm-3">
            <h2>column3(Add your content)</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam veritatis autem repellendus magni accusantium maiores repudiandae? Laborum, sit atque! Mollitia libero repudiandae accusantium possimus nesciunt repellat rerum aliquid officia distinctio.</p>
            <img src="../assets/flower.jpg"width="100" height="100">
        </div>
 